.card-body{
  /* background-color: white; */
  border: solid 1px black;
}

.card-header {
  text-align: center;
  border: solid 1px black;
}

.row {
  margin-top: 5%;
}

.card-title {
  color: black;
}
.card-text {
  color: black;
}
.button {
  text-align: center;

}

h1{
  text-align: center;
  padding-top: 5%;
}

@media print {
  .visible-print  { display: inherit !important; }
  .hidden-print   { display: none !important; }
}
